%h3.d-inline Cars
= link_to 'New', new_car_url, class: 'btn btn-outline-success btn-sm new-btn'
.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %tr.text-right
          %th #
          %th Model
          %th Plate Number
          %th Mileage
          %th Actions
      %tbody
        - @cars.each_with_index do |car, index|
          %tr.text-right
            %td
              = @cars.offset + index + 1
            %td
              = car.model
            %td
              = car.plate_number
            %td
              = car.mileage
            %td
              = link_to 'view', car, class: 'btn btn-outline-secondary  btn-sm'
              = link_to 'edit', edit_car_path(car), class: 'btn btn-outline-primary btn-sm'
              = link_to 'delete', car_url(car), method: :delete, data: { confirm: 'Are you sure' }, class: 'btn btn-outline-danger btn-sm'


.digg_pagination
  = will_paginate @cars, contaier: false
