.card
  .card-header
    %h3.d-inline Car Detail
    = link_to 'Back', root_path, class: 'btn btn-outline-dark btn-sm back-btn'
  .card-body
    %form
      .form-group.row
        %label.col-sm-2.col-form-label ID
        .col-sm-10
          %p.form-control-plaintext 1
      .form-group.row
        %label.col-sm-2.col-form-label Model
        .col-sm-10
          %p.form-control-plaintext= @car.model
      .form-group.row
        %label.col-sm-2.col-form-label Plate No:
        .col-sm-10
          %p.form-control-plaintext= @car.plate_number
      .form-group.row
        %label.col-sm-2.col-form-label Mileage
        .col-sm-10
          %p.form-control-plaintext= @car.mileage
      .form-group.row
        %label.col-sm-2.col-form-label Photo
        .col-sm-10
          = image_tag(@car.car_photo.url) if @car.car_photo.exists?
