.card
  .card-header
    %h3.d-inline Cab Detail
    .btn-group
      = link_to 'Back', root_path, class: 'btn btn-outline-dark btn-sm'
      = link_to 'edit', edit_cab_path(@cab), class: 'btn btn-outline-primary btn-sm'
      = link_to 'delete', cab_url(@cab), method: :delete, data: { confirm: 'Are you sure' }, class: 'btn btn-outline-danger btn-sm'
  .card-body
    %form
      .form-group.row
        %label.col-sm-2.col-form-label ID
        .col-sm-10
          %p.form-control-plaintext 1
      .form-group.row
        %label.col-sm-2.col-form-label Model
        .col-sm-10
          %p.form-control-plaintext= @cab.model
      .form-group.row
        %label.col-sm-2.col-form-label Plate No:
        .col-sm-10
          %p.form-control-plaintext= @cab.plate_number
      .form-group.row
        %label.col-sm-2.col-form-label Mileage
        .col-sm-10
          %p.form-control-plaintext= @cab.mileage
      .form-group.row
        %label.col-sm-2.col-form-label Photo
        .col-sm-10
          = image_tag(@cab.car_photo.url) if @cab.car_photo.exists?
